<div class="row g-3">
    <ul class="list-group">
        <% if(typeof mes != 'undefined') {%>
            <% mes.forEach( element => { %>
                <li id='afasd' class="list-group-item"><%- element %></li>
            <% }); %> 
        <% } %> 
    </ul>
</div>

