<title>Get Appointment</title>

<div class="container">
  <form action='/' method="POST" class="row g-3">
      <div class="col-md-6"> 
        <label for="inputName" class="form-label">Name</label>
        <input type="text" class="form-control" id="inputName">
      </div> 
      <div class="col-md-6">
        <label for="mobileNumber" class="form-label">Mobile Number</label>
        <input type="text" class="form-control" id="mobileNumber">
      </div>
      <div class="col-md-6">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
      </div>
      <div class="col-3">
          <label for="age" class="form-label">Age</label>
          <input type="text" class="form-control" id="age">
        </div>
      <div class="col-12">
        <label for="inputAddress2" class="form-label">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">State</label>
        <select id="inputState" class="form-select">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>

      <div class="container-fluid">
        <div class="col-md-4">
          <label for="inputState" class="form-label">Hospital's Name</label>
          <select id="inputState" class="form-select">
            <option selected>sdsfsa...</option>
            <option>afsa</option>
            <option>f</option>
            <option>asdf</option>
          </select>
        </div>
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-secondary">Get Appointment</button>
      </div>
    </form>
</div>
