    <title> ><% Title %>  </title>
    This is the platform for patients to find doctors in there nearby areas and to get appointment 
    for their doctor of choice.
    <h4><a href='/user/login'>Login</h4></a>
    <footer>
        <h5><a href = '/admin'>Are u an admin ? </a></h5>
    </footer>
    
